.activity{
    width: 350px;
    height: 580px;
    border: 1px solid grey;
    border-radius: 8px;
    position: relative;
    background-color:cornsilk;
}
.activity img{
    width: 336px;
    height: 300px;
    border-radius: 8px;
    margin: 7px;
}
.activity-info{
    margin:0 14px;
}
.subject{
    font-family: 'lato';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}
.btn-list{
    width: 100%;
    background: skyblue;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}
.btn-list:hover{
    background: lightgreen;
}