.qna-container {
    background-color: lightgoldenrodyellow;
    margin: 50px 0;
    margin-right: 20px;
    padding: 50px;
    border-radius: 15px;
}

.qna-container h2 {
    color:slateblue;
}

.questions h4 {
    margin: 10px 0;
}